.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.flex {
    display: flex;
}

.cell {
    font-size: 48px;
    width: 50px;
    aspect-ratio: 50px;
    text-transform: capitalize;
    text-align: center;
}

.cell[data-state='0'] {
}

.cell[data-state='1'] {
    background-color: green;
}

.cell[data-state='2'] {
    background-color: yellow;
}

.cell[data-state='3'] {
    background-color: orange;
}

.cell[data-state='4'] {
    background-color: red;
}

.guess.valid {
    background-color: green;
}

.guess.invalid {
    background-color: red;
}
