<div *ngIf="isInit" class="board">
    <div>
        <div *ngFor="let row of state; let y = index" class="row">
            <div
                #cell
                *ngFor="let cell of row; let x = index"
                class="cell"
                [attr.data-x]="x"
                [attr.data-y]="y"
                [attr.data-state]="cell.state"
                [style.backgroundColor]="colors[cell.state - 1]"
            >
                {{ cell.char }}
            </div>
        </div>
    </div>
    <div *ngIf="solved" class="solution">
        <span
            >Solution:
            <span *ngFor="let word of solution; last as last">
                <a
                    href="https://www.merriam-webster.com/dictionary/{{ word }}"
                    target="_blank"
                >
                    {{ word | uppercase }}
                </a>
                {{ last ? '' : ',' }}
            </span>
        </span>
    </div>
    <div class="guesses flex column reverse">
        <div
            *ngFor="
                let guess of guesses | slice: 0 : -1;
                let i = index;
                trackBy: trackByIndex
            "
            [attr.data-state]="i"
            [style.backgroundColor]="colors[i]"
            class="guess"
        >
            <span>{{ guess }}</span>
            <button *ngIf="!solved" class="remove" (click)="removeGuess(i)">
                X
            </button>
        </div>
        <input
            #wordInput
            class="guess"
            [class.active]="!solved"
            [disabled]="solved"
            [(ngModel)]="guesses[guesses.length - 1]"
            (ngModelChange)="onInput($event)"
            (keydown.enter)="onEnter($event)"
            (keydown.backspace)="onBackspace($event)"
            [style.backgroundColor]="
                solved ? colors[guesses.length - 1] : '#FFF'
            "
        />
    </div>
</div>
