@if (isInit) {
    <div class="board" [attr.solved]="solved">
        <div>
            @for (row of state; track row; let y = $index) {
                <div class="row">
                    @for (cell of row; track cell; let x = $index) {
                        <div
                            #cell
                            class="cell"
                            [attr.data-x]="x"
                            [attr.data-y]="y"
                            [attr.data-state]="cell.state"
                            [style.backgroundColor]="colors[cell.state - 1]"
                            (click)="onCellClick(cell)"
                        >
                            {{ cell.char }}
                        </div>
                    }
                </div>
            }
        </div>
        @if (solved) {
            <div class="copy" title="'Click To Copy'" (click)="copy()">
                @for (row of state; track row; let y = $index) {
                    <div class="row">
                        @for (cell of row; track cell; let x = $index) {
                            <div>
                                {{ emoji[cell.state - 1] }}
                            </div>
                        }
                    </div>
                }
            </div>
        }
        @if (!solved) {
            <div class="inputButtons">
                <button (click)="onDelete()" class="delete" [tabIndex]="-1">
                    <icon [type]="'backspace'" />
                </button>
                <button (click)="onEnter($event)" class="enter" [tabIndex]="-1">
                    <icon [type]="'enter'" />
                </button>
            </div>
        }
        @if (solved) {
            <div class="solution">
                @for (word of solution; track word; let last = $last) {
                    <span>
                        <a
                            href="https://www.merriam-webster.com/dictionary/{{
                                word
                            }}"
                            target="_blank"
                            class="dictionaryLink"
                        >
                            {{ word | uppercase }}
                        </a>
                    </span>
                }
            </div>
        }
        @if (!solved) {
            <div class="inputRow">
                <input
                    #wordInput
                    class="guess"
                    [class.active]="!solved"
                    [disabled]="solved"
                    [(ngModel)]="guesses[guesses.length - 1]"
                    (ngModelChange)="onInput($event)"
                    (keydown.enter)="onEnter($event)"
                    (keydown.backspace)="onBackspace($event)"
                    (keypress)="filterKeypress($event)"
                    [style.backgroundColor]="
                        solved ? colors[guesses.length - 1] : '#FFF'
                    "
                />
            </div>
        }
        <div class="guesses flex column reverse">
            @for (
                guess of guesses | slice: 0 : (solved ? guesses.length : -1);
                track trackByIndex(i);
                let i = $index
            ) {
                <div
                    [attr.data-state]="i"
                    [style.backgroundColor]="colors[i]"
                    class="guess"
                >
                    @if (!solved) {
                        <span>{{ guess }}</span>
                    }
                    @if (solved) {
                        <a
                            href="https://www.merriam-webster.com/dictionary/{{
                                guess
                            }}"
                            target="_blank"
                            class="dictionaryLink"
                        >
                            {{ guess }}
                        </a>
                    }
                    @if (!solved) {
                        <button class="remove" (click)="removeGuess(i)">
                            <icon [type]="'cross'" />
                        </button>
                    }
                </div>
            }
        </div>
    </div>
}
