@if (isInit) {
    <div class="board">
        <div>
            @for (row of state; track row; let y = $index) {
                <div class="row">
                    @for (cell of row; track cell; let x = $index) {
                        <div
                            #cell
                            class="cell"
                            [attr.data-x]="x"
                            [attr.data-y]="y"
                            [attr.data-state]="cell.state"
                            [style.backgroundColor]="colors[cell.state - 1]"
                            (click)="onCellClick(cell)"
                        >
                            {{ cell.char }}
                        </div>
                    }
                </div>
            }
        </div>
        @if (solved) {
            <div class="copy" title="'Click To Copy'" (click)="copy()">
                @for (row of state; track row; let y = $index) {
                    <div class="row">
                        @for (cell of row; track cell; let x = $index) {
                            <div>
                                {{ emoji[cell.state - 1] }}
                            </div>
                        }
                    </div>
                }
            </div>
        }
        @if (!solved) {
            <div class="inputButtons">
                <button (click)="onDelete()" class="delete">
                    <svg
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        height="20"
                        viewBox="0 0 24 24"
                        width="20"
                        class="game-icon"
                        data-testid="icon-backspace"
                    >
                        <path
                            fill="var(--color-tone-1)"
                            d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"
                        ></path>
                    </svg>
                </button>
                <button (click)="onEnter($event)" class="enter">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        height="20"
                        viewBox="0 0 24 24"
                        width="20"
                    >
                        <path
                            d="M 20.292969 5.2929688 L 9 16.585938 L 4.7070312 12.292969 L 3.2929688 13.707031 L 9 19.414062 L 21.707031 6.7070312 L 20.292969 5.2929688 z"
                        ></path>
                    </svg>
                </button>
            </div>
        }
        @if (solved) {
            <div class="solution">
                @for (word of solution; track word; let last = $last) {
                    <span>
                        <a
                            href="https://www.merriam-webster.com/dictionary/{{
                                word
                            }}"
                            target="_blank"
                            class="dictionaryLink"
                        >
                            {{ word | uppercase }}
                        </a>
                    </span>
                }
            </div>
        }
        @if (!solved) {
            <div class="inputRow">
                <input
                    #wordInput
                    class="guess"
                    [class.active]="!solved"
                    [disabled]="solved"
                    [(ngModel)]="guesses[guesses.length - 1]"
                    (ngModelChange)="onInput($event)"
                    (keydown.enter)="onEnter($event)"
                    (keydown.backspace)="onBackspace($event)"
                    [style.backgroundColor]="
                        solved ? colors[guesses.length - 1] : '#FFF'
                    "
                />
            </div>
        }
        <div class="guesses flex column reverse">
            @for (
                guess of guesses | slice: 0 : (solved ? guesses.length : -1);
                track trackByIndex(i);
                let i = $index
            ) {
                <div
                    [attr.data-state]="i"
                    [style.backgroundColor]="colors[i]"
                    class="guess"
                >
                    @if (!solved) {
                        <span>{{ guess }}</span>
                    }
                    @if (solved) {
                        <a
                            href="https://www.merriam-webster.com/dictionary/{{
                                guess
                            }}"
                            target="_blank"
                            class="dictionaryLink"
                        >
                            {{ guess }}
                        </a>
                    }
                    @if (!solved) {
                        <button class="remove" (click)="removeGuess(i)">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                fill="#000000"
                                height="15"
                                width="15"
                                version="1.1"
                                id="Capa_1"
                                viewBox="0 0 490 490"
                                xml:space="preserve"
                            >
                                <polygon
                                    points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "
                                />
                            </svg>
                        </button>
                    }
                </div>
            }
        </div>
    </div>
}
