header {
    text-align: center;
    background-color: #ffc3f6;
    padding: 0.5rem;
    position: relative;
}

.newGame {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    padding: 0.5em;
}

.newGame button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.newGame button {
    border: none;
    background: transparent;
    font-size: 1.25em;
    height: 100%;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    height: 2em;
    margin: auto;
    color: white;
    /* border: 1px solid gray; */
    background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) {
    .newGame {
        position: relative;
    }
}

#helpDialog {
    margin: 0 auto;
    top: 10vh;
    width: 50vw;
    height: 50vh;
}

#helpDialog::backdrop {
}

:host {
    min-height: 100dvh;
    display: block;
    overflow: hidden;
}
