<twinkles [density]="1 / 15000" [onTime]="2000" [offTime]="8000"></twinkles>
<header>
    <h1>Seqle</h1>
    <div class="newGame">
        <button (click)="newGame()">New Game</button>
        <button popovertarget="statsDialog">
            <icon [type]="'bar-chart'"></icon>
        </button>
        <button popovertarget="helpDialog">
            <icon [type]="'question-circle'"></icon>
        </button>
    </div>
</header>
<app-game></app-game>
<dialog
    #statsModal
    id="statsDialog"
    popover
    (beforetoggle)="statsOpen = !statsOpen"
>
    @if (statsOpen) {
        <stats></stats>
    }
</dialog>
<dialog #help id="helpDialog" popover>
    <h2>How to play</h2>
    <p><em class="bold">Goal:</em> Fill the board by placing down word</p>
    <p>
        <em class="slant bold">Hint:</em> Sometimes a short word is better than
        a long one
    </p>
    <br />
    <h3>Rules:</h3>
    <ul>
        <li>The official solution is always four 4 letter words</li>
        <li>Try to beat the official solution by solving it in 3 or less</li>
        <li>Guesses may be of any length</li>
        <li>Win by using each letter at least once</li>
    </ul>
    <div class="example">
        <div class="board">
            <div class="cell">S</div>
            <div class="cell">K</div>
            <div class="cell mark">E</div>
            <div class="cell">T</div>
            <div class="cell">A</div>
            <div class="cell mark">Q</div>
            <div class="cell mark">L</div>
            <div class="cell mark">E</div>
            <div class="cell">B</div>
            <div class="cell mark">E</div>
            <div class="cell">U</div>
            <div class="cell">I</div>
            <div class="cell mark">S</div>
            <div class="cell">N</div>
            <div class="cell">D</div>
            <div class="cell">Z</div>
        </div>
    </div>
</dialog>
